.contact-form {
    width: 90%;
    margin: auto;
    text-align: center;
    color: #ffffff;
    margin-top: -30;
  
  }
  
  .contact{
      margin-top: 0;
  }

  .purple {
    color: #cd5ff8 !important;
  }
  
  .contactlogo {
    margin-top: -1%;
    width: 4rem;
    height: 4rem;
  }
  .contact-form > h1 {
    padding-top: 10%;
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 30px;
  }
  
  .contactcontainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 2em;
  }
  
  .FormDiv-imagediv {
    flex-basis: 50%;
    padding: 30px;
    height: auto;
  }
  
  
  
 
  .contactcontainer>  a{
    
 
    color: var(--clr-fg-alt);
  }
  
  .phone{
    font-weight: 1000;
    font-size: 10rem;
  }
  
  
  
  @media (max-width: 600px) {
    .contactcontainer svg {
      font-size: 2em;
    }
    .contactcontainer svg:hover {
      font-size: 3rem;
    }
  }
 




  .contactcontainer {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2em;
  }
  
  .contactcontainer svg {
    font-size: 3em;
    transition: all 0.5s ease-in-out 0s;
    color: var(--clr-primary);
  }
  .contactcontainer svg:hover {
    font-size: 4rem;
  }
  .linkedin:hover {
    color: #0a66c2;
  }
  .github:hover {
    color: black;
  }
  .email:hover {
    color: #d93025;
  }
  .twitter:hover {
    color: rgb(29, 155, 240);
  }
  .phone:hover {
    color: rgb(49, 236, 49);
  }
  @media (max-width: 600px) {
    .contactcontainer svg {
      font-size: 2em;
    }
    .contactcontainer svg:hover {
      font-size: 3rem;
    }
  }